/* ===================================
   About
====================================== */
.main-title {
    position: relative;
    margin-bottom: 6rem;
    text-align: center;
}

.main-title h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    margin-bottom: 1.1rem;
    color: #ffffff;
}

.main-title h2 {
    font-size: 28px;

    font-weight: 300;
    color: #ffffff;
    line-height: 1.2;
    max-width: 650px;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.main-title p {
    max-width: 720px;
    margin: 0 auto;
}

.main-title.style-two h5 {
    margin-bottom: 1.5rem;
}

.main-title.style-two h2 {
    text-transform: initial;
    font-size: 37px;
    font-weight: 500;
    max-width: 720px;
}

.main-title.style-two p {
    color: #ffffff;
    max-width: 720px;
}

.rare-box {
    height: 187px;
    width: 100%;
    background: #18d26e;
    position: relative;
}

.about-img-small {
    margin-left: 30px;
    top: -155px;
    margin-bottom: -153px;
}

.about ul li {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    display: flex;
    color: #fff;
    opacity: 0.8;
}

.about ul li:before {
    font-family: "Font Awesome 5 Free";
    padding-right: 15px;
    font-weight: 700;
    content: "\f061";
    color: #aac0e4;
}

@keyframes scale {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

.about:before {
    content: url(../../Assets/About/about-circle.png);
    position: absolute;
    right: -10px;
    top: 200px;
    animation: scale 0.6s alternate infinite linear both;
}

/* about 3 boxes */
.about-box {
    transition: 0.5s linear;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 350px;
}

.about-box i {
    font-size: 30px;
    position: relative;
}

.about-box:hover {
    transform: translate(0, -13px);
    transition: 0.5s linear;
}

/* about.css */

.about {
    background-color: #191818;

    padding: 60px 0;
}

.main-title h2 {
    font-size: 28px;
    color: #333;
}

.paragraph {
    font-size: 16px;
    color: #666;
}

.feature-item {
    margin-bottom: 20px;
}

.feature-item i {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f50057;
}

.feature-item h5 {
    font-size: 18px;
    color: #333;
}





/* devloper's custom classes */

.flex-box {


    display: flex;
    justify-content: center;
    gap: 80px;
    flex-direction: row-reverse;
}

.content {
    width: 50%;


}

.content h2 {
    padding-left: 30px;
    padding-left: 30px;

}

.content p {
    padding-left: 130px;
    padding-right: 130px;
    text-align: justify;
}

.card-box {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;

}

.cards {
    padding: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
}