.quoteSection{
  background: url("../../Assets/Quote/parallax1.1.png");
  background-size: cover;
  height: 65vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  position: relative;
  width: 80vw;
}

.quote {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.25;
  text-align: center!important;
}

p {
  text-align: center;
  font-weight: 100 !important;
}

.content h5 {
  margin-top: 7vh;
  font-size: 2rem;
  font-weight: 400;
  color: #18d26e;
}

.leftQuote {
  font-size: 2rem;
  position: relative;
  top: -1.2vh;
  left: -40%;
  color: #fff;
}

.rightQuote {
  font-size:  2rem;
  position: relative;
  bottom: -1.2vh;
  right: -40%;
  color: #fff;
}
